.half {
	float: left;
	padding: 0 1%;
	margin: 0 1%;
	width: 46%
}

fieldset {  
	margin: 1.5em 0 0 0;  
	padding: 0;  
}

legend {  
	margin-left: 1em;  
	color: #000000;  
	font-weight: bold;  
}
/*fieldset ol {  
	padding: 1em 1em 0 1em;  
	list-style: none;  
}
  
fieldset li {  
	padding-bottom: 1em;  
}*/

/*form {
	float: left;    
	clear: left;    
	width: 100%;    
	margin: 0 0 1.5em 0;    
	padding: 0;   
}*/
  
fieldset.submit {  
	border-style: none;  
	float: none;    
	width: auto;    
	border: 0 none #FFF;    
	padding-left: 12em;  
}

form ol {  
	padding: 1em 1em 0 1em;  
	list-style: none;  
}
  
form li {
	float: left;    
	clear: left;    
	width: 100%;    
	padding-bottom: 1em;  
}




form label {
	float: left;    
	width: 10em;    
	margin-right: 1em;    
	text-align: right;  
}

div.captcha {
	background-color: #ccccff;
}

div.captcha label {
	display: block;
	float: none;
	width: auto;        
	text-align: left;  
	
}

div.captcha div.halfcaptcha {
	width: 46%;
	padding: 2%;
	float:left;
}

div.captcha .small {
	font-size:smaller;
}
