
div.file {
	width: 500px;
	min-height: 20px;
	border: 1px solid #cccccc;
	background-color: #eeeeee;
	clear:both;
	margin-bottom: 2px;
}

div.moveable {
	width: 15px;
	height: 15px;
	background-image:url(images/updown.png);
	float:left;
	cursor:pointer;
}

div.phpfileicon {
	width: 24px;
	height: 16px;
	background-position:center;
	background-repeat:no-repeat;
	background-image:url(images/page_white_php.png);
	float:left;
}

div.trash {
	width: 15px;
	height: 15px;
	background-image:url(images/trash.png);
	float:right;
	cursor:pointer;
}

div.file div.details {
	margin: 2px 2px 2px 50px;
	border: 1px solid #cccccc;
	clear: both;
	display: none;
}

div.file div.viewdetails {
	float:right;
	cursor:pointer;
}

div.group {
	width: 100%;
	height: 20px;
	background-color: #777777;
	color: #ffffff;
	font-family: Rockwell, Georgia, Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 16px;
	margin-bottom: 10px;
	padding: 5px 5px 5px 5px
}

div.outerpackage {
	padding-left: 20px;
}

div.package {
	width: 100%;
	background-color: #eeeeee;
	/*color: #EE0038;*/
	margin-bottom: 10px;
	padding: 5px 5px 5px 5px
}

span.packagename {
	font-family: Rockwell, Georgia, Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #EE0038;
}

span.packageversion {
	font-size: 9px;
}

div.packagedescription {
	padding-left: 20px;
}

div.packageicon {
	float:left;
}

div.packagetext {
	padding-left: 70px;
}

div.directorytitle {
	width: 100%;
	background-color: #777777;
	color: white;
	padding: 5px 5px 5px 5px;
	font-family: Rockwell, Georgia, Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}
div.directorycontent {
	padding-left: 20px;
	margin-bottom: 10px;
}

textarea.string {
	width: 210px;
	max-height: 100px;
	min-height: 16px;
	line-height: 16px;
	height: 16px
}

span.sessionmarker {
	font-size: 8px;
	border: 1px solid #006600;
	color: #006600;
	background-color: #77ff77;
	padding: 1px 1px 1px 1px;
}

span.sessionmarker {
	font-size: 8px;
	border: 1px solid #006600;
	color: #006600;
	background-color: #77ff77;
	padding: 1px 1px 1px 1px;
}

span.configmarker {
	font-size: 8px;
	border: 1px solid #665500;
	color: #776600;
	background-color: #ffcc33;
	padding: 1px 1px 1px 1px;
}

span.requestmarker {
	font-size: 8px;
	border: 1px solid #660000;
	color: #660000;
	background-color: #ff7777;
	padding: 1px 1px 1px 1px;
}

div.constant {
	background-color:#EEEEEE;
	border:1px solid #CCCCCC;
	clear:both;
	width:500px;
	padding: 2px;
	margin-bottom: 5px;
}

table.grid {
	width: 100%;
}

table.grid th {
	background-color:#AAAAAA;	
}

table.grid tr.odd td {
	background-color:#EEEEEE;	
}

table.grid tr.even td {
	background-color:#DDDDDD;	
}