div.smallinstance, div.smallclass {
	width: 200px;
	min-height: 16px;
	border: solid 1px black;
	background-color: #eee7e7;
	padding: 5px 5px 5px 26px;
	margin-bottom: 2px;
	border-radius: 5px;
	background-image: url(images/class.png);
	background-position: 5px center;
	background-repeat: no-repeat;
	
	word-wrap: break-word;
	cursor: move;
	font-family: monospace;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;	
	user-select: none;
}

div.smallinstance:hover, div.smallclass:hover {
	background-color: #d7d0d0;
}

/*** Save icon ***/

div.saveIcon {
    height: 22px;
    right: 3px;
    min-width: 80px;
    overflow: hidden;
    position: fixed;
    top: 3px;
    z-index: 99999;
}

div.saveIcon.saving {
	background-image: url(images/disk.png);
	background-repeat: no-repeat;
	background-position: 3px center;
    background-color: #AAAAAA;
    border: solid 1px #777777;
    padding: 5px 0px 0px 22px;
}

div.saveIcon.saveDone {
	background-image: url(images/tick.png);
	background-repeat: no-repeat;
	background-position: 3px center;
	background-color: #AAFFAA;
    border: solid 1px #77AA77;
    padding: 5px 0px 0px 22px;
}