/** GENERAL
*/
h1.admindeo {
	color: #3D4339;
	text-decoration: none;
	font-family: Rockwell, Georgia, Arial, Verdana, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 30px;
}

h2.admindeo {
	color: #3D4339;
}

div.stats {
	width: 400px;
	margin: auto;
}

div.stats-main {
	padding: 20px
}

div.stats-key {
	padding: 5px;
	border: 2px solid gray;
	/*	background-color: #F6F6F6;
	color: white;*/
}

img.stats-pie {
	width: 350px;
	height: 200px;
}

div.vertical-gap {
	height: 20px
}

.col1 {
	color: #FF0;
}

.col2 {
	color: #0FF;
}

.col3 {
	color: #0F0;
}

.col4 {
	color: #EB03EB;
}

.col5 {
	color: #00F;
}

.col6 {
	color: #F00;
}

.sub1 {
	text-decoration: underline;
	color: #FF0;
}

.sub2 {
	text-decoration: underline;
	color: #0FF;
}

.sub3 {
	text-decoration: underline;
	color: #0F0;
}

.sub4 {
	text-decoration: underline;
	color: #EB03EB;
}

.sub5 {
	text-decoration: underline;
	color: #00F;
}

.sub6 {
	text-decoration: underline;
	color: #F00;
}

.sidebar_content ul{
	padding:0 0 0.25em 1em;
}
ul.menu li {
	margin:0 0 0 0.5em;
}

li.leaf {
	list-style-image:url(images/menu-leaf.png);
	list-style-type:square;
	padding:0.2em 0.5em 0 0;
}

div.intro{
	font-style: italic;
	border: none;
	padding: 10px;
	background-color: rgb(240,240,240);
}

/* *********** Sign Up Bar **************  */
#sign_up_bar {
	border: 2px dashed #eee;
	padding: 8px;
	vertical-align: baseline;
	width: 700px;
}

p.error {
	display: none;
	font-weight: bold;
	color: red;
}

#main p.small_error {
	display: none;
	font-weight: bold;
	font-size: small;
	color: red;
}

p.small_error_bis {
	font-weight: bold;
	font-size: small;
	color: red;
}

p.small {
	font-weight: bold;
	font-size: 12px;
	color: blue;
}

.warn {
	font-style: bold;
	font-size: small;
	color: rgb(216, 75, 0);
}

h1.main-title {
	font-size: 26px;
}

/*------------Admin Login-------------------*/
#admin_log {
	padding: 50px 50px 50px 50px;
}

#admin_log div {
	padding: 10px 10px 10px 10px;
}

#log-on-sign-up,#log-on-member {
	padding-left: 40px;
	font-weight: bold;
	padding-bottom: 20px;
}

/*-------------Logging Views------------------------*/
td.TRACE_css {
	background-color: white;
}

td.DEBUG_css {
	background-color: green;
	color: white;
}

td.INFO_css {
	background-color: white;
}

td.WARN_css {
	background-color: orange;
	color: white;
}

td.ERROR_css {
	background-color: red;
	color: white;
}

td.FATAL_css {
	background-color: darkred;
	color: white;
}

tr.odd {
	background-color: rgb(230, 230, 230);
}

tr.inserted_even {
	background-color: rgb(200, 200, 200);
}

tr.inserted_odd {
	background-color: rgb(150, 150, 150);
}

/*---------------------Account View-----------------------*/
div.display_account span {
	font-weight: bold;
}

div.display_account p {
	margin-top: 10px;
}

table.display_table td span {
	font-weight: bold;
}

/*------------------------buttons------------------------*/

button.button120 {
    margin:0 7px 0 0;
	border:0px solid #000;

	width:120px;
    height:35px;

    background-image:url("images/button_120x35.png");

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#FFFFFF;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}

button[type].button120{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
button.button120 img {
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
button.button120:hover {
    background-image:url("images/button_120x35_hover.png");
    border:0px solid #000;
    color:#ddd;
}


button.button200 {
    margin:0 7px 0 0;
	border:0px solid #000;

	width:200px;
    height:35px;

    background-image:url("images/button_200x35.png");

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#FFFFFF;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}

button[type].button200{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
button.button200 img {
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
button.button200:hover {
    background-image:url("images/button_200x35_hover.png");
    border:0px solid #000;
    color:#ddd;
}



button.button300 {
    margin:0 7px 0 0;
	border:0px solid #000;

	width:300px;
    height:35px;

    background-image:url("images/button_300x35.png");

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#FFFFFF;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}

button[type].button300{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
button.button300 img {
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
button.button300:hover {
    background-image:url("images/button_300x35_hover.png");
    border:0px solid #000;
    color:#ddd;
}
/**
ADMIN SECTION - LISTS
*/
table.form_table td {
	height: 30px;
}

table.form_table td select{
	width: 150px
}

/**
Forms
*/
label {
	float:left;
	text-align:right;
	width:150px;
}

div.moufFormList {
	float:left;
}

/*
 Messages
*/
div.error, .notice, .success {padding:.8em;margin-bottom:1.6em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11; background:none; padding:0; margin:0; }
.notice a {color:#514721; background:none; padding:0; margin:0; }
.success a {color:#264409; background:none; padding:0; margin:0; }